loki:
  deploymentMode: SingleBinary
  loki:
    auth_enabled: true
    commonConfig:
      replication_factor: 1
    storage:
      type: filesystem
  enterprise:
    enabled: false
  gateway:
    enabled: false
  singleBinary:
    replicas: 1
    persistence:
      enableStatefulSetAutoDeletePVC: true
      enabled: true
      size: 10Gi
      storageClass: ceph-block
promtail:
  daemonset:
    enabled: true
  serviceMonitor:
    enabled: true
    prometheusRule:
      enabled: true
  config:
    clients:
      - url: http://loki-gateway/loki/api/v1/push
        tenant_id: 1
